{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.hasClass('button') and not attributes.hasClass('field-add-more-submit') %}
<div class="input-group">
  <input{{ attributes.addClass('btn btn-primary') }} />

 <div class="svg-search"></div>
  <!--<span class="input-group-btn">
    <button type="submit" class="btn btn-primary">
      <span class="icon fa fa-search" aria-hidden="true"></span>
    </button>
  </span>-->
</div>
{% else %}
  <input{{ attributes.addClass('form-control') }} />

{% endif %}
{{ children }}