	<div class="col-12 col-lg-3">
		<div class="h6 mb-10 link-text"><span class="twittericon"></span>&nbsp; @{{ source.screen_name }}</div>
		<time class="h6 text-info" datetime="{{ date.stamp }}">{{date.clean}}</time>
		<div class="tweet">{{ text }}</div>
	</div>




