<div class="mobile-menu">
<div class="region-we-mega-menu container">
	<a class="navbar-toggle collapsed">
	   Menu <i class="fa fa-caret-down"></i>
	</a>
	<nav {{ attributes }}>
	  <div class="row">
	    {{ content }}
	  </div>
	</nav>
</div>
</div>