
    a.menu-icon-3800,
    ul.links li.menu-icon-3800 a,
    ul.menu li.menu-icon-3800 a {
        background-image: url(/sites/default/files/menu_icons/IVPV.png);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3801,
    ul.links li.menu-icon-3801 a,
    ul.menu li.menu-icon-3801 a {
        background-image: url(/sites/default/files/menu_icons/BULLYING_PREVENTION-01.png);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3802,
    ul.links li.menu-icon-3802 a,
    ul.menu li.menu-icon-3802 a {
        background-image: url(/sites/default/files/menu_icons/AFFILIATE_PROGRAMS.png);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3803,
    ul.links li.menu-icon-3803 a,
    ul.menu li.menu-icon-3803 a {
        background-image: url(/sites/default/files/menu_icons/ASSAULT_INJURY_PREVENTION.png);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3804,
    ul.links li.menu-icon-3804 a,
    ul.menu li.menu-icon-3804 a {
        background-image: url(/sites/default/files/menu_icons/Traffic_Medicine_and_Transportation_Equity.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3805,
    ul.links li.menu-icon-3805 a,
    ul.menu li.menu-icon-3805 a {
        background-image: url(/sites/default/files/menu_icons/Transportation_Planning_for_Safe_Mobility.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3806,
    ul.links li.menu-icon-3806 a,
    ul.menu li.menu-icon-3806 a {
        background-image: url(/sites/default/files/menu_icons/Stress.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-3965,
    ul.links li.menu-icon-3965 a,
    ul.menu li.menu-icon-3965 a {
        background-image: url(/sites/default/files/menu_icons/violance.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-4066,
    ul.links li.menu-icon-4066 a,
    ul.menu li.menu-icon-4066 a {
        background-image: url(/sites/default/files/menu_icons/GUN_SAFETY-01.png);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-4067,
    ul.links li.menu-icon-4067 a,
    ul.menu li.menu-icon-4067 a {
        background-image: url(/sites/default/files/menu_icons/SUICIDE_PREVENTION-01.png);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
