@import "customvariable";
@import "bootstrap";
@import "base/elements";
@import "components/buttons";
@import "components/header";
@import "components/breadcrumb";
@import "components/form";
@import "components/field";
@import "components/menu";
@import "components/footer";
@import "components/node";
@import "components/block";
@import "components/sidebar";


* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    outline: none;
    line-height:1.4;
}


body{
    color:$gray-dark;
    &.page-node-type-profile, &.page-node-type-blog-post,&.path-blog-list,&.path-blog-homepage {
        background: $gray-light;
    }
    // background: $gray-light;
}

.img-right{
    float:right;
}
.img-left{
    float:left;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    width: auto;
    margin: 7px 15px 7px 0;
    display: inline-block;
}

.form-item{
    &.js-form-type-checkbox{
        display: flex;
    }
}
.block-maintitle {
    background-color: $pink;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 0;
    padding: 15px 30px 15px 30px;
    font-size: 1.1rem;
    border-bottom: none;
    text-shadow: none;
    width: 100%;
    font-size: 1.1rem;
    font-family: rubrikmedium;
}
 .block-sidecontent {
    padding: 20px 30px 20px 30px;
}
.fieldgroup{
    legend{
        @extend .block-maintitle;
        .fieldset-legend{
            font-family:$font-family-medium;
            font-size: 1.25rem;
        }
    }
    .fieldset-wrapper{
        @extend .block-sidecontent ;
        background:#ffffff;
        .option{
            font-family:$font-family-base;
        }
    }
}
.custom-viewTitle{
    h1{
        margin: 35px 0px;
    }
}


.calendar{
    width: 24px;
    height: 22px;
    margin-right:6px;
    background:url('../images/calendar.svg');
    float: left;
    background-repeat: no-repeat;
}

article{
    h1{
        // font-size: 1.875rem;
        margin-bottom: 20px;
        font-family: rubrikregular;
        text-transform: uppercase;
    }
    h2{
        font-family: rubrikmedium;
    }
    h3{
        font-size: 1.5rem;
        font-family: rubrikmedium;
    }
    h4{
        font-size: 1.25rem;
        font-family: rubrikmedium;
    }
    h5{
        font-family: rubrikmedium;
    }
    li{
        margin-bottom:10px;
    }
}
.media__image {
    max-width:100%;
}
.border-bottom{
    border-bottom:4px solid $gray-lighten;
}
p{
    margin-bottom:20px;
}

.blog-header,.block-maintitle{
    background:$pink;
}

// #block-cirp-seven-system-main{
//     article{
//         >footer{
//             display: none;
//         }
//     }
// }


.clearfix{
    clear: both;
    //margin-top: 30px;
    float: left;
    width: 100%;
}

.input-group-append,.input-group {
    input{
        max-height: 45px;
    }
}

.bg-lighten{
    background:#EAF6F9;
}
.search-block-form{
    min-width:225px
}

.bg-default{
    background:$gray-lighten;
}
.page-node-type-page{
    .recent-articles{
        .border-top{
            border-top: 0px solid !important;
        }
        .slick {
            .slick__arrow{
                position: absolute;
                top: 50%;
                width: 100%;
            }
        }
    }
    .recent-articles .slick .slick__arrow {
        top: 100px;
    }
}
.page-node-type-front-page{
    .recent-articles{
        .slick {
            a{
                text-align: left;
                font-family:$font-family-base;
                @extend .text-uppercase;
                letter-spacing: 0px;
                opacity: 1;
                font-size:1.125rem ;
            }
        }
    }
  .slide__grid{
    .grid__content{
        @extend .card;
        border-radius:0;
        min-height: 600px;
        .views-field-image{
            img{
                max-width: 100%;
            }
        }
        .views-field-title{
            padding:1.25rem 1.25rem 0 1.25rem;
        }
        .views-field-body{
            padding:0 1.25rem 0 1.25rem;
        }
        .views-field-body{
            .btn{
                margin-top:30px;
                position: absolute;
                bottom:30px;
            }
        }
    }
}
}
#block-views-block-related-content-block-1{
    .block-title{
        @extend .container;
        h2{
            @extend .border-top;
            padding-top:60px;
            font-family: $font-family-medium;
        }
    }
}

.block-title{
    margin-top: 60px;
    margin-bottom:40px;
}

.text-primary{
    color: $blue-dark;
}


